<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

    <title>Document</title>
</head>
<body>
    <div class="bg-image">  </div>

    <div class="bg-text row">
        <div class="col-md-4">
            <h3>Super Compacter 3000</h3>

            <form class="mt-4" action="/verwerken_super_compacter_3000" method="post">
                <label for="Input"></label>
                <input name="naam" type="number" min="0">
                <input type="submit">
            </form>
        </div>

        <div class="col-md-4">
            <h3>Lava Bucket</h3>

            <form class="mt-4" action="/verwerken_lava_bucket" method="post">
                <label for="Input"></label>
                <input name="naam" type="number" min="0">
                <input type="submit">
            </form>
        </div>

        <div class="col-md-4">
            <h3>RedstoneLamp</h3>

            <form class="mt-4" action="/verwerken_redstone_lamp" method="post">
                <label for="Input"></label>
                <input name="naam" type="number" min="0">
                <input type="submit">
            </form>
        </div>

        <div class="col-md-4">
            
        </div>
    </div>

       

    
</body>
</html>